{
    "presets": [
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "test": "./test",
                    "underscore": "lodash"
                }
            }
        ],
        [
            "module:@Babel/plugin-proposal-class-properties"
        ],
        [
            "module:@babel/plugin-proposal-object-rest-spread"
        ]
    ]
}