.card {
    height: 510px;
    max-width: 345px;
    min-height: 510px;
    overflow: hidden;

    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    a {
        text-decoration: none;
    }

    a:link {
        color: black;
    }
    
    a:visited {
        color: black;
    }
    
    a:hover {
        color: #303F9F;
    }
    
    a:active {
        color: black;
    }

    > .media {
        height: 200px,
    }

     .card-title {
        font-size: 18px;
        font-weight: bold;
        text-align: center !important;
    }

    .card-info {
        display: flex;
        overflow: hidden;
        flex-direction: column;

        p {
            text-align: center;
        }

        p:nth-child(1) {
            min-height: 36px;
        }

        > div {
            display: flex;
            justify-content: space-evenly;
            > div {
                text-align: center;
            p:nth-child(1) {
                display: block;
                line-height: 0.1px;
            }
            p:nth-child(2) {
                display: block;
            }
        }
        }
    }

    .card-status {
        display: flex;
        justify-content: space-around;
       
        div{
            display: inline-block;
        }
    }
}
